doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/00_layouts.md
      include ../slides/01_title.md
      include ../slides/02_why.md
      include ../slides/03_what.md
      include ../slides/04_outro.md
    include inc/scripts
