.cover-art
  background-position top
  h1
    font-size 4em
    text-align left
    top 15px
  &.inverse
    text-shadow none
  .about
    h3 i
      margin-right .5rem
  .while-waiting
    background-color $brand
    padding 1rem
    position absolute
    text-align right
    right 15px
    top 213px
    border 4px solid $brand-white-text
    box-shadow 1px 4px 10px $brand-alt
    a
      color $brand-white-text

.level-2.bold-statement
  h3
    font-size 5em
    margin-top 1.88em
    text-align center
    padding-left 0

.title:not(.cover-art):not(.inverse) h1
  color: $brand;
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 0;
  width 100%
  margin-top 1em

.inverse:not(.image)
  color $brand-white-text
  background-color $brand-context
  text-shadow none
  &.bold-statement
    h1
      background none
      border none
      position relative
      top none
      left none
  .remark-slide-number
    color $brand-white-text
    opacity 1.0
  
.full-width p
  width 100%
  img
    width 100%

.title.module
  h1
    padding-bottom 2rem

.centered-image p
  position: relative;
  left: 50%;
  transform: translateX(-50%);

.image
  p
    width 100%
    text-align center
    img
      width 80%
      margin-top 20px
.image-center
  p
    text-align center
    margin-left auto
    margin-right auto
    float left
    width 100%
    img
      max-width 100%

.delorean p
  margin-top 150px

.framework
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  p
    display flex
    flex-direction row
    width: 100%;
    justify-content: space-evenly;
    img
      height 125px

.tool
  display: flex;
  justify-content: center;
  flex-direction column
  align-items: center;
  height: 100%;
  p
    display flex
    flex-direction row
    width: 100%;
    justify-content: space-evenly;
    img
      width 300px
      height 100%
  h2
    margin-top 0
.tool.small-logo
  p
    img
      width 200px

.centered-title
  h1
    text-align: center;
    margin-top: 0;
.soliloquy 
  h2
    float right
    width 54%
    margin-top 5em
    font-size 2em
    padding-left 18px
    text-indent -18px
  p
    float left
    img
      width 100%
  .profile
    width 40%

.facts
  h2
    text-align: center;
    font-size: 10rem;
    margin-top: 5rem;
    line-height 10rem
    color $brand-context
  h3
    text-align: center;
    margin-top: 0;
    font-size: 2em;
  p
    text-align: center;
    font-size: 0.8em;
    float none