.title
  vertical-align middle
  text-align center
  h1
    font-size 4.5em
    margin-top 0
  blockquote h1
    font-size 4em
  h2
    font-size 3em
  .about
    margin-top 5em
    h2
      line-height 1.4em
    h3
      margin-top 0.2em
    h3>i
      vertical-align middle
      color $brand-alt-light
      text-shadow 2px 2px 4px $brand
    a
      color $brand
    a:hover
      color $brand-context
  &.inverse
    .about
      h3
        color $brand-white-text
        i
          color $brand-highlight
      a
        color $brand-white-text
      a:hover
        color $brand-alt-light
  ul
    li
      font-size 2em
  .col h2
    margin-top .4em
