$brand = #194861
$brand-alt = #999933
$brand-context = #0070a8

$brand-dark-gray = #66cccc;
$brand-light-gray = #ffcc66;
$brand-white-text = #e1ecf9;

$brand-alt-light = #f5d45e;
$brand-highlight = lighten($brand-alt-light, 60%)


$font = "Catamaran"
$code-font = "Ubuntu Mono"

$context-current = $brand-context
$context-current-minus-one = desaturate($brand-context, 40%)
$context-current-minus-two = desaturate($brand-context, 80%)
